/* for body */
.recipe-list-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

/* .recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #FF5A33;
}

nav > a {
    color: white;
}

a {
    color: #44803F;
    text-decoration: none;
}

h1 {
    color: #146152;
}

main {
    padding: 16px;
}

main > div {
    padding: 16px 100px 16px 0;
}

footer {
    padding: 24px;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid #146152;
}

/* table tr td:nth-child(even):not(:first-child) {
    background-color: lightgrey;
} */
